.feedback-form {
  background-color: #fff;
  border-radius: 8px;
  margin: auto;
  padding: 24px;
  max-width: 400px;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  input, textarea, button {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2.2px;
    padding: 8px 16px;
  }

  input, textarea {
    border: 1px solid #808080;
    border-radius: 4px;
    margin-top: 8px;
    width: 100%;
    color: #2E2F42;
    outline: none;

    &:hover {
      border-color: #000;
    }
  }

  input {

  }

  textarea {
    resize: none;
    height: 80px;
  }

  button {
    border-radius: 8px;
    background-color: #4e75ff;
    font-weight: 500;
    color: #fff;
    margin-top: 16px;
    border: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #6C8CFF;
    }
  }
}